/* Stylesheet for bine webpage */

/* General stuff */

body {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	color: white;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.background_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.background_layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* fite me irl */
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;

	background-color: rgb(0, 0, 0);
}

.menu_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition: transform 0.5s ease;
	transform: translate(0, 100%);
}

.menu_container.active_menu {
	transform: translate(0, 0);
}

.menu_top_half {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
.menu_bottom_half {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
}
.flex_column_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.flex_row_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.button {
	padding: 10px;
	margin: 10px;

	background-color: #404040;
	border: 1px solid #FFFFFF;
	font-size: 14px;
}
.button:hover {
	background-color: #202020;
}

.menu_title {
	padding: 10px;
	margin: 10px;

	font-size: 16px;
}

.menu_top_bar {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 10%;
}

.session_box {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 90%;
}

.session {
	padding: 10px;
	margin: 10px;

	background-color: #404040;
	border: 1px solid #FFFFFF;
	font-size: 14px;
}
.session:hover {
	background-color: #202020;
}
.session_name,
.session_mode,
.session_world_name,
.session_player_count {
	padding: 10px;
	padding-left: 24px;
	background-position: 0% 50%;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	pointer-events: none;
}

.session_name {
	background-image: url(image/page/session_name.png);
}

.session_mode {
	background-image: url(image/page/session_mode.png);
}

.session_world_name {
	background-image: url(image/page/session_world_name.png);
}

.session_player_count {
	background-image: url(image/page/session_player_count.png);
}


.level_box {

}

.level {
	padding: 10px;
	margin: 10px;

	background-color: #404040;
	border: 1px solid #FFFFFF;
	font-size: 14px;
}
.level:hover {
	background-color: #202020;
}